
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p>#2 Paging for All Headings</p>
<p>#3 Section for Messaging</p>
<p>#4 Migration of session management to architecture</p>
<p>#5 Use of Token</p>



